---
import type { LocalizedString } from '../data/site';

type Props = {
  value: LocalizedString;
  as?: keyof HTMLElementTagNameMap;
  class?: string;
};

const { value, as = 'span', class: className } = Astro.props as Props;
const Tag = as;
---

<Tag class={className}>
  <span data-locale="zh">{value.zh}</span>
  <span data-locale="en">{value.en}</span>
</Tag>
